.checkbox{
    display:block;
}

.main{
    margin:2rem 0rem;
    display:flex;
}

.item{
    width: 450px;
    border:3px solid;
    background-color:white;
}

.main[data-flex-wrap] {
    flex-wrap: wrap;
  }
  
  .main[data-space] {
    justify-content: space-between;
  }
  
  .main[data-align-center] {
    align-items: center;
  }
